
<%= simple_form_for(@project, html: { data: { turbo: false } }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs columns">
    <div class="column">
      <%= f.input :name %>
    </div>
    <div class="column is-2">
      <%= f.input :status, collection: enum_options_for_select(Project, :statuses) %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Save' %>
    <%= link_to 'Cancel', projects_path %>
  </div>
<% end %>
